In [32]:
# Dependencies
import pandas as pd

In [33]:
data = pd.read_csv('Output/log.txt', sep=" ", header=None)

In [34]:
data.columns=["code","day","month","time","year","factor1","factor2","website","factor3"]

In [35]:
data

,code,day,month,time,year,factor1,factor2,website,factor3
0,<190>,Tue,Mar,10,21:01:06,2020,SM-HC2:1,Subject,cs1=www.spirent.com
1,<190>,Tue,Mar,10,21:01:06,2020,SM-HC2:1,Subject,cs1=www.spirent.com
2,<190>,Tue,Mar,10,21:01:06,2020,SM-HC2:1,Subject,cs1=www.spirent.com

In [41]:
data.to_csv(filename, encoding='utf-8', index=False)

NameError: name 'filename' is not defined

In [26]:
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [27]:
file_one_df.head()

  <190> Tue Mar 10 21:01:06 2020 SM-HC2:1 Subject cs1=www.spirent.com
0  <190> Tue Mar 10 21:01:06 2020 SM-HC2:1 Subjec...
1  <190> Tue Mar 10 21:01:06 2020 SM-HC2:1 Subjec...

In [2]:
# Store filepath in a variable
file_one = "Resources/DataOne.csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [4]:
# Show just the header
file_one_df.head()

   id first_name  last_name                    email  gender
0   1      David     Jordan         djordan0@home.pl    Male
1   2    Stephen      Riley  sriley1@hugedomains.com    Male
2   3     Evelyn      Grant  egrant2@livejournal.com  Female
3   4        Joe    Mendoza         jmendoza3@un.org    Male
4   5   Benjamin  Rodriguez   brodriguez4@elpais.com    Male

In [5]:
# Show a single column
file_one_df["first_name"].head()

0       David
1     Stephen
2      Evelyn
3         Joe
4    Benjamin
Name: first_name, dtype: object

In [6]:
# Show mulitple specific columns--note the extra brackets
file_one_df[["first_name", "email"]].head()

  first_name                    email
0      David         djordan0@home.pl
1    Stephen  sriley1@hugedomains.com
2     Evelyn  egrant2@livejournal.com
3        Joe         jmendoza3@un.org
4   Benjamin   brodriguez4@elpais.com

In [7]:
# Head does not change the DataFrame--it only displays it
file_one_df.head()

   id first_name  last_name                    email  gender
0   1      David     Jordan         djordan0@home.pl    Male
1   2    Stephen      Riley  sriley1@hugedomains.com    Male
2   3     Evelyn      Grant  egrant2@livejournal.com  Female
3   4        Joe    Mendoza         jmendoza3@un.org    Male
4   5   Benjamin  Rodriguez   brodriguez4@elpais.com    Male

In [8]:
# Export file as a CSV, without the Pandas index, but with the header
file_one_df.to_csv("Output/fileOne.csv", index=False, header=True)